body {
    box-sizing: border-box;
    padding-left: 20%;
    padding-right: 20%;
}

ul {
    text-align: center;
}

ul li {
    display: inline-block;
}

.extra-photos {
    display: inline-flex;
}

.middleme {
    text-align: center;
}

.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    text-align: center;
    /* Should be removed. Only for demonstration */
}

.book-info-front-page {
    background-color: #ecf2f3;
    padding: 20px;
}

.book-info-front-page li {
    padding-left: 100px;
    width: 600px;
    text-align: left;
}


/* ----SLIDESHOW STUFF----*/
.mySlides {
    display: none;
    text-align: center;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    text-align: center;
    width: 600px;
    height: 200px;
    padding: 10px;
}

/* Next &amp; previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the &#8220;next button&#8221; to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}